[
    {
        "id": "master_state_machine",
        "name": "Master SM",
        "type": "enum",
        "enumValues": [
            "Connecting",
            "Idle",
            "Levitating",
            "Current Control",
            "Debug",
            "Fault"
        ]
    },
    {
        "id": "slave_state_machine",
        "name": "Slave SM",
        "type": "enum",
        "enumValues": [
            "SPI Connecting",
            "Idle",
            "Levitating",
            "Current Control",
            "Debug",
            "Fault"
        ]
    },
    {
        "id": "desired_current",
        "name": "Desired Current",
        "type": "float32",
        "podUnits": "A",
        "displayUnits": "A"
    },
    {
        "id": "fixed_vbat",
        "name": "Fixed VBAT",
        "type": "float32",
        "podUnits": "V",
        "displayUnits": "V"
    },
    {
        "id": "desired_distance",
        "name": "Desired Distance",
        "type": "float32",
        "podUnits": "m",
        "displayUnits": "mm"
    },
{%- if has_lpu_id %}
    {
        "id": "lpu_id",
        "name": "LPU ID",
        "type": "uint32"
    },
{%- endif %}
    {
        "id": "fixed_pwm_duty_cycle",
        "name": "Fixed PWM Duty Cycle",
        "type": "float32",
        "podUnits": "%",
        "displayUnits": "%"
    },
{%- for i in range(1, lpu_count + 1) %}
    {
        "id": "pwm_duty_cycle_{{ i }}",
        "name": "Duty Cycle {{ i }}",
        "type": "float32",
        "podUnits": "%",
        "displayUnits": "%"
    },
{%- endfor %}

{%- for i in range(1, lpu_count + 1) %}
    {
        "id": "coil_current_{{ i }}",
        "name": "Coil Current {{ i }}",
        "type": "float32",
        "podUnits": "A",
        "displayUnits": "A"
    },
{%- endfor %}

{%- for i in range(1, airgap_count + 1) %}
    {
        "id": "airgap_{{ i }}",
        "name": "Airgap {{ i }}",
        "type": "float32",
        "podUnits": "m",
        "displayUnits": "mm"
    },
{%- endfor %}
    {
        "id": "cinema_current",
        "name": "Cinema Current",
        "type": "float32"
    }
]
