[
    {
        "type": "data",
        "name": "LPU PWM Duties",
        "variables": [
            {%- for i in range(1, lpu_count + 1) -%}
            "pwm_duty_cycle_{{ i }}"{% if not loop.last %}, {% endif %}
            {%- endfor -%}
        ],
        "id": 9500,
        "period_type": "us",
        "period": 500.0,
        "socket": "vcu_udp"
    },
    {
        "type": "data",
        "name": "LPU Coil Currents",
        "variables": [
            {%- for i in range(1, lpu_count + 1) -%}
            "coil_current_{{ i }}"{% if not loop.last %}, {% endif %}
            {%- endfor -%}
        ],
        "id": 9501,
        "period_type": "us",
        "period": 500.0,
        "socket": "vcu_udp"
    },
    {
        "type": "data",
        "name": "Airgaps",
        "variables": [
            {%- for i in range(1, airgap_count + 1) -%}
            "airgap_{{ i }}"{% if not loop.last %}, {% endif %}
            {%- endfor -%}
        ],
        "id": 9502,
        "period_type": "us",
        "period": 500.0,
        "socket": "vcu_udp"
    },
    {
        "type": "data",
        "name": "State Machine",
        "variables": [
            "master_state_machine",
            "slave_state_machine"
        ],
        "id": 9520,
        "period_type": "us",
        "period": 500.0,
        "socket": "vcu_udp"
    },
    {
        "type": "data",
        "name": "General State",
        "variables": [
            
        ],
        "id": 9521,
        "period_type": "us",
        "period": 500.0,
        "socket": "vcu_udp"
    }
]
